.menuWrapper {
  border-top: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 0 60px;
  display: flex;
  justify-content: center;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1246px;
  width: 100%;
}

.linkContainer {
  display: flex;
}

.stickyMenuLink {
  padding: 20px 5px;
  margin: 0px 18px;
  cursor: not-allowed;
}

.stickyMenuLink:hover {
  text-decoration: underline;
  color: #028858;
}

.btn {
  background-color: #028858;
  border: none;
  color: white;
  cursor: pointer;
  height: 46px;
  width: 140px;
  font-size: 14px;
  transition: background-color 200ms;
}

.btn:hover {
  background-color: var(--primaryButtonColorHover);
}
