.title {
  font-size: 28px;
  font-weight: 400;
  color: rgb(40, 40, 40);
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
}
.subTitle {
  font-size: 18px;
  font-weight: 400;
  color: #656969;
  text-align: center;
  margin-bottom: 70px;
}
