@import "../../../vars.css";

.titleDiv {
  font-size: 24px;
  color: #282828;
  margin-bottom: 6px;
  text-align: center;
}

.subTitleDiv {
  font-size: 18px;
  padding-top: 14px;
  padding-bottom: 6px;
  text-align: center;
}

.headerWrapper {
  margin: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.allProjectTopViewContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(251, 251, 251);
}
.allProjectTopViewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1246px;
}

.topFlexContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mediaShowcaseContainer {
  width: 50%;
}
.mediaShowcaseWrapper {
  padding: 0 18px;
}

.mediaShowcase {
  width: 800px;
}

.image {
  width: 100%;
}
.projectInfoWrapper {
  padding: 0 18px;
  width: 30%;
}

.projectInfoFlexColumn {
  margin-bottom: 30px;
}

.progressBar {
  height: 6px;
  width: 100%;
  background-color: rgb(214, 214, 214);
  margin-bottom: 18px;
}

.progress {
  height: 6px;
  background-color: green;
}

.projectInfoFlexColumnRow {
  margin-bottom: 24px;
}

.currentFunding {
  color: rgb(0, 158, 116);
  font-size: 28px;
}

.bigGrey {
  font-size: 28px;
  color: rgb(101, 105, 105);
}

.subtext {
  color: rgb(101, 105, 105);
  font-size: 14px;
}

.btn {
  background-color: rgb(2, 136, 88);
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
  height: 46px;
  width: 100%;
  font-size: 16px;
  transition: background-color 200ms;
  margin-bottom: 18px;
}

.btn:hover {
  background-color: var(--primaryButtonColorHover);
}

.allOrNothing {
  color: rgb(40, 40, 40);
  font-size: 12px;
}

.belowShowCaseDiv {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-top: 10px;
  margin-left: 20px;
}

.belowShowCaseText {
  color: rgb(40, 40, 40);
  font-size: 12px;
  margin-right: 7px;
}

.pinkContainer {
  background-color: rgb(246, 242, 236);
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 72px;
  display: flex;
  justify-content: center;
}

.pinkContainerContent {
  max-width: 1246px;
  display: flex;
  justify-content: space-evenly;
}

.pinkContainerDiv {
  width: 30%;
}
.pinkContainerText {
  width: 80%;
  font-size: 18px;
  font-weight: lighter;
  line-height: 24px;
}
