.dashBoardContentAndMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wholeMenu{
  width: 100%;
  position: relative;
}

.topMenu{
  top: -55px;
  height: 55px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 99%;
  background-color: white;
}

.topLeft{
  display: flex;
  align-items: center;
}

.logoDiv {
  margin-left: 25px;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: .5px;
  font-weight: bold;
  font-family: 'Modak', cursive;
  color: rgb(84, 212, 137);
}

.backButton{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-left: 25px;
  outline: inherit;
  font-size: inherit;
  color: rgb(101, 105, 105);
  font-size: 14px;
}

.topRight{
  display: flex;
  justify-content: space-between;
  width: 21%;
}

.tabMenuWrapper{
  display: flex;
  justify-content: center;
  /* padding: 30px; */
  border-top: 1px solid rgb(209, 209, 209);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.17);
  width: 100%;
}

.tabMenu{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 85px;
}

.tabDiv{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.tabDiv div {
  padding-top: 6px;
}



.blockWrapper{
  width: 100%;
  border-top: 1px solid rgb(209, 209, 209);
  padding: 48px 0;
  display: flex;
  justify-content: center;

}

.block{
  width: 75%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.blockLeft{
  width: 25%;
}

.blockRight{
  width: 50%;
}

.formInput{
  width: 100%;
  padding: 12px;
  border: none;
  border: 1px solid rgb(232, 232, 232);
}

.inputLabels{
  margin-bottom: 10px;
}

.buttonDiv{
  width: 48%;
  height: 100%;
}

.saveButton{
  border: none;
  color: rgb(255, 255, 255);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(2, 136, 88);
  border: 1px solid rgb(2, 136, 88);
  width: 100%;
}

.cancelButton{
  border: none;
  color: rgb(34, 34, 34);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
 }

.saveProjectButton {
  border: none;
  color: rgb(255, 255, 255);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(2, 136, 88);
  border: 1px solid rgb(2, 136, 88);
  width: 100px;
}

.deleteProjectButton {
  border: none;
  color: rgb(34, 34, 34);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 100px;
}

.deleteProjectButton:hover, .saveProjectButton:hover,
.saveButton:hover, .cancelButton:hover, .tabDiv:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .1);

}

.projectEditH3 {
  margin-bottom: 5px;
}



/*////\\\\ FOR RESIZING THE WINDOW SCREEN ////\\\\
//////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\*/

@media screen and (max-width: 750px) {

  /* .dashBoardContentAndMenu{
    background-color: aliceblue;
  } */

  /* .wholeMenu{
    padding-left: 10px;
  } */

  .tabDiv {
   /* background-color: aliceblue; */
   padding: 10px;
  }

  .cancelButton{
    font-size: 14px;
    font-weight: 200;
    width: 100%;
    text-justify: center;
  }

  .topRight {
   padding: 0 20px 0 20px;
  }

  .saveButton, .cancelButton{
    margin-right: 10px;
    font-size: 10px;
    width: 80px;
  }


  .projectImageDiv{
    overflow-y: scroll;
    border: 1px solid black;
  }


}



/* ///////////////////STYLES FOR EDIT PAGES GO HERE/////////////////////////////////////////// */
/* ///////////////////                             /////////////////////////////////////////// */
/* ///////////////////        REWARDS               /////////////////////////////////////////// */

.title {
  font-size: 28px;
  font-weight: 400;
  color: rgb(40, 40, 40);
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #656969;
  text-align: center;
}

.headerContainer{
  padding: 72px 0px 66px;
}

.contentContainer{
  padding: 0 72px;
}

.rewardsMenu{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(220, 222, 221);
  margin-bottom: 20px;
}

.addOnsDiv{
  display: flex;
}

.rewardsMenuHeader{
  padding-bottom: 12px;
  /* margin-left: px; */
}

.rewardsContainerTopContent{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-left: 10%; */
}

.rewardsContainerBottomContent{
  display: flex;
}

.textDivs{
  width: 60%;
}

.infoDiv{
  margin: 24px 0;

}

.learnMore{
  margin-top: 18px;
}

.newRewardButton {
border: none;
color: rgb(255, 255, 255);
padding: 10.5px 18px;
box-sizing: border-box;
font-size: 14px;
font-weight: 400;
text-align: center;
background-color: rgb(2, 136, 88);
border: 1px solid rgb(2, 136, 88);
}

.saveRewardButton {
border: none;
color: rgb(255, 255, 255);
padding: 10.5px 18px;
box-sizing: border-box;
font-size: 14px;
font-weight: 400;
text-align: center;
background-color: rgb(2, 136, 88);
border: 1px solid rgb(2, 136, 88);
}

.editRewardHeaderContainer{
  /* display: relative; */
  /* justify-content: center; */
  padding: 72px 0px 66px;
  width: 100%;

}

.editPageHeader {
 width: 100%;
 margin-left: 60px;
}

.editRewardHeaderContainer h2{
  /* justify-content: center; */
  padding: 12px 0px 16px;
  width: 50%;
  margin-left: 60px;

}

.rewardPreviewRectangleContainer{
  background-color: #FBFBFA;
  /* REMOVE THESE HEIGHTS AND WIDTHS WHEN YOU'RE DONE BUILDING */
  height: 344px;
  width: 300px;
  /* REMOVE THESE HEIGHTS AND WIDTHS WHEN YOU'RE DONE BUILDING */
  padding: 24px;
}

.rewardAmountPreview{
  font-size: 18px;
  margin-bottom: 24px;
}
.rewardsTitlePreview{
  font-size: 16px;
  margin-bottom: 6px;
}
.rewardsDescriptionPreview{
  font-size: 14px;
  margin-bottom: 24px;
}

.rewardsPreviewHeader{
  font-size: 10px;
}

.rewardsPreviewDisplay{
  margin-bottom: 24px;
}

/* ///////////////////        PEOPLE               /////////////////////////////////////////// */

.profileContainer{
  display: flex;
}

.profileRectangle{
    /* REMOVE THESE HEIGHTS AND WIDTHS WHEN YOU'RE DONE BUILDING */
    height: 344px;
    width: 300px;
    /* REMOVE THESE HEIGHTS AND WIDTHS WHEN YOU'RE DONE BUILDING */
    border: 1px solid rgb(232, 232, 232);
}
