.label{
  font-size: 14px;
  font-weight: 350;
  color: #282828;
  line-height: 24px;
}

.dashBoardContentAndMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wholeMenu{
  width: 100%;
  position: relative;
}

.topMenu{
  top: -55px;
  height: 55px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 99%;
  background-color: white;
}

.topLeft{
  display: flex;
  align-items: center;
}

.logoDiv {
  margin-left: 25px;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: .5px;
  font-weight: bold;
  font-family: 'Modak', cursive;
  color: rgb(84, 212, 137);
}

.backButton{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-left: 25px;
  outline: inherit;
  font-size: inherit;
  color: rgb(101, 105, 105);
  font-size: 14px;
}

.topRight{
  display: flex;
  justify-content: space-between;
  width: 21%;
}

.tabMenuWrapper{
  display: flex;
  justify-content: center;
  /* padding: 30px; */
  border-top: 1px solid rgb(209, 209, 209);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.17);
  width: 100%;
}

.tabMenu{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 85px;
}

.tabDiv{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.tabDiv div {
  padding-top: 6px;
}

.oneHundred{
  width: 100%;
}

.blockWrapper{
  width: 100%;
  border-top: 1px solid rgb(209, 209, 209);
  padding: 48px 0;
  display: flex;
  justify-content: center;

}

.block{
  width: 74%;
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
}

.blockLeft{
  width: 25%;
}

.mainInputHeader{
  font-size: 18px;
  color: #282828;
  font-weight: 300;
}

.mainInputSubHeader{
  font-size: 14px;
  color: #656969;
  line-height: 24px;
  margin-top: 6px;
}

.blockRightTitle{
  width: 57%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockRight{
  width: 57%;
  height: 250px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.impression{
  color: #037362;
  font-size: 13px;
  cursor: not-allowed;
}

.learnMore{
  text-decoration: underline;
}

.formInput{
  width: 100%;
  padding: 12px;
  border: none;
  border: 1px solid rgb(232, 232, 232);
}

.buttonDiv{
  width: 48%;
  height: 100%;
}

.saveButton{
  border: none;
  color: rgb(255, 255, 255);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(2, 136, 88);
  border: 1px solid rgb(2, 136, 88);
  width: 100%;
}

.cancelButton{
  border: none;
  color: rgb(34, 34, 34);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
}


.bottomSaveButtonWrapper{
  position: relative;
}

.bottomSaveButton{
  position: absolute;
  left: 83%;
  top: -30px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(2, 136, 88);
  border: 1px solid rgb(2, 136, 88);
}
.bottomDeleteButtonWrapper{
  margin-bottom: 80px;
  position: relative;
}

.bottomDeleteButton{
  border: none;
  position: absolute;
  left: 75%;
  top: -30px;
  color: rgb(34, 34, 34);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  /* background-color: rgb(255, 255, 255); */
  /* border: 1px solid rgb(209, 209, 209); */
}

/* ///////////////////STYLES FOR EDIT PAGES GO HERE/////////////////////////////////////////// */
/* ///////////////////                             /////////////////////////////////////////// */
/* ///////////////////        REWARDS               /////////////////////////////////////////// */

.title {
  font-size: 28px;
  font-weight: 300;
  color: rgb(40, 40, 40);
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
}
.subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #656969;
  text-align: center;
  margin-bottom: 70px;
}

.headerContainer{
  padding: 72px 0px 66px;
}

.contentContainer{
  padding: 0 72px;
}
.rewardsMenu{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(220, 222, 221);
  margin-bottom: 20px;
}

.addOnsDiv{
  display: flex;
}

.rewardsMenuHeader{
  padding-bottom: 12px;
}

.rewardsContainerTopContent{
  display: flex;
  justify-content: space-between;
}
.rewardsContainerBottomContent{
  display: flex;
}

.textDivs{
  width: 60%;
}

.infoDiv{
  margin: 24px 0;
}
.learnMore{
  margin-top: 18px;
}
.newRewardButton {
border: none;
color: rgb(255, 255, 255);
padding: 10.5px 18px;
box-sizing: border-box;
font-size: 14px;
font-weight: 400;
text-align: center;
background-color: rgb(2, 136, 88);
border: 1px solid rgb(2, 136, 88);
}
.saveRewardButton {
border: none;
color: rgb(255, 255, 255);
padding: 10.5px 18px;
box-sizing: border-box;
font-size: 14px;
font-weight: 400;
text-align: center;
background-color: rgb(2, 136, 88);
border: 1px solid rgb(2, 136, 88);
}



.rewardPreviewRectangleContainer{
  background-color: #FBFBFA;
  /* REMOVE THESE HEIGHTS AND WIDTHS WHEN YOU'RE DONE BUILDING */
  height: 344px;
  width: 300px;
  /* REMOVE THESE HEIGHTS AND WIDTHS WHEN YOU'RE DONE BUILDING */
  padding: 24px;
}

.rewardAmountPreview{
  font-size: 18px;
  margin-bottom: 24px;
}
.rewardsTitlePreview{
  font-size: 16px;
  margin-bottom: 6px;
}
.rewardsDescriptionPreview{
  font-size: 14px;
  margin-bottom: 24px;
}

.rewardsPreviewHeader{
  font-size: 10px;
}

.rewardsPreviewDisplay{
  margin-bottom: 24px;
}

/* ///////////////////        PEOPLE               /////////////////////////////////////////// */

.profileContainer{
  display: flex;
}

