.pageContainer{
  margin-bottom: 80px;
}

.title {
  font-size: 28px;
  font-weight: 300;
  color: rgb(40, 40, 40);
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
}
.subTitle {
  font-size: 18px;
  font-weight: 300;
  color: #656969;
  text-align: center;
  margin-bottom: 70px;
}

.mainInputHeader{
  font-size: 18px;
  color: #282828;
  font-weight: 300;

}

.mainInputSubHeader{
  font-size: 14px;
  color: #656969;
  line-height: 24px;
  margin-top: 6px;
}


.blockWrapper{
  width: 100%;
  border-top: 1px solid rgb(209, 209, 209);
  padding: 48px 0;
  display: flex;
  justify-content: center;

}
.block{
  width: 74%;
  display: flex;
  justify-content: space-between;
}

.standIn{
  width: 700px;
  height: 120px;
  background-color: rgb(210 210 210);
}
.form{
  width: 700px;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.input{
  padding: 12px;
  background-color: rgb(251, 251, 250);
  border: 1px solid rgb(232, 232, 232);
  border-radius: none;
  line-height: 21px;
  cursor: not-allowed;
  text-emphasis-color: red;

}

input:focus{
  outline: none;
}

.button{
  line-height: 21px;
  padding: 10.5px 18px;
  color: rgb(34, 34, 34);
  cursor: pointer;
  border: none;
  border-radius: none;
  background-color: #D1D1D1;
}

.button:hover{
  background-color: rgb(105, 105, 105);
  color: rgb(255, 255, 255);
}

.infoContainer{
  width: 30%;
}
