.projectContainer{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.image{
  max-width: 60px;
  margin-right: 12px;
}

.text{
  color: #282828;
}

.text:hover{
  cursor: pointer;
  color: green;
  text-decoration: underline;
}
