.title {
  font-size: 28px;
  font-weight: 300;
  color: rgb(40, 40, 40);
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
}
.subTitle {
  font-size: 18px;
  font-weight: 300;
  color: #656969;
  text-align: center;
  margin-bottom: 70px;
}

.storyContainer{
  width: 70%;
  min-height: 500px;
}

.saveStoryButton{
  border: none;
  color: rgb(255, 255, 255);
  padding: 13px 18px 13px 18px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(2, 136, 88);
  border: 1px solid rgb(2, 136, 88);
}

.saveStoryButtonWrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px 0;
}
