@import "../../../vars.css";

.outside {
  position: sticky;
  width: 26%;
  max-height: 90vh;
  overflow-y: auto;
  top: 100px;
  align-self: flex-start;
}

.supportTitle {
  font-size: 21px;
  margin-bottom: 42px;
}

.noRewardForm {
  border: 1px solid rgb(217, 219, 218);
  padding: 18px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.pledge {
  font-size: 18px;
  color: #282828;
  margin-bottom: 16px;
}

.inputDiv {
  position: relative;
  margin-bottom: 16px;
}

.dollahBillsRapper {
  position: absolute;
  top: 0;
  border-right: 1px solid rgb(220, 222, 221);
  height: 100%;
  width: 40px;
  margin: auto;
  transition: border-right 200ms;
}

.dollahBills {
  font-size: 12px;
  color: rgb(110 110 110);
  top: 12px;
  position: absolute;
  text-align: center;
  width: 40px;
}

.amountInput {
  padding: 10px 10px 10px 54px;
  border: 1px solid rgb(220, 222, 221);
  width: calc(100% - 64px);
  outline: none;
  transition: border 200ms;
}

.amountInput:focus {
  border: 1px solid green;
}

.amountInput:hover {
  border: 1px solid green;
}

.believe {
  background: rgb(220, 232, 254);
  background: linear-gradient(
    180deg,
    rgba(220, 232, 254, 1) 0%,
    rgba(255, 242, 236, 1) 100%
  );
  border: 1px solid rgb(220, 232, 254);
  padding: 24px 18px;
  margin-bottom: 16px;
}

.backIt {
  font-size: 14px;
  margin-bottom: 16px;
  color: #222222;
  font-weight: bold;
}

.support {
  font-size: 14px;
  color: #222222;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: lighter;
}

.btn {
  background-color: rgb(2, 136, 88);
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
  height: 46px;
  width: 100%;
  font-size: 16px;
  transition: background-color 200ms;
}

.btn:hover {
  background-color: var(--primaryButtonColorHover);
}
