@import '../../vars.css';

.navBar {
  border: 1px solid var(--borderColor);
  display: flex;
  flex-wrap: nowrap;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 65px;
  justify-content: space-between;
  line-height: 21px;
  width: auto;
  color: var(--navBarFontColor);
}

.navBarLeft {
  display: flex;
  padding: 12px 0 12px 24px;
  width: 180px;
}

/* .discoverButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin-right: 12px;
  font-size: inherit;
  font-family: inherit;
} */

.headerLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  /* margin-right: 12px; */
  padding-right: 18px;
  font-size: inherit;
}

.navBarCenter {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoPlaceholder {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Modak', cursive;
  color: rgb(84, 212, 137);
}

.navBarRight {
  display: flex;
  padding: 12px 24px 12px 0;
  align-items: center;
  justify-content: flex-end;
  width: 180px;
}

.searchBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  font-size: inherit;
  font-family: inherit;
  height: 21px;
  margin-right: 20px;
}

.searchText {
  cursor: pointer;
}

.searchIcon {
  cursor: pointer;
  margin-left: 6px;
}

.logInLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: inherit;
  margin-left: 18px;
}



.discoverButton:hover,
.projectLink:hover,
.searchBtn:hover,
.logInLink:hover {
  color: var(--navBarHoverColor);
}
