.titleDivContainer {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
}

.titleDiv {
  width: 40%;
  margin-left: 20%;
}

.titleDiv h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 24px;
}
